// Base Attribute
[data-tooltip] {
    position: relative;
    display: inline-block;

    &:after {
        position: absolute;
        top: 100%;
        left: 50%;
        white-space: pre;
        word-wrap: break-word;
        z-index: $zindex-tooltip;
        max-width: $tooltip-max-width;
        padding: 4px 8px;
        margin-top: 4px;
        font-size: 10px;
        font-weight: 500;
        line-height: 14px;
        color: $tooltip-color;
        text-align: center;
        pointer-events: none;
        visibility: hidden;
        content: attr(data-tooltip);
        background: $tooltip-background;
        border-radius: 2px;
        opacity: 0;
        transition: 200ms;
        transform: scale(0);
        transform-origin: top center;
        will-change: transform;
        border-radius: 2px;
        display: inline-block;
    }

    &:hover {
        &:after {
            visibility: visible;
            opacity: $tooltip-opacity;
            margin-top: 8px;
            transform: scale(1) translateX(-50%);
        }
    }

    &.tooltip-top {
        &:after {
            top: auto;
            bottom: 100%;
            margin-top: 0;
            margin-bottom: 4px;
        }

        &:hover {
            &:after {
                margin-top: 0;
                margin-bottom: 8px;
            }
        }
    }

    &.tooltip-right {
        &:after {
            top: 50%;
            left: 100%;
            margin-top: 0;
            margin-left: 4px;
            transform-origin: left center;
        }

        &:hover {
            &:after {
                margin-top: 0;
                margin-left: 8px;
                transform: scale(1) translate(0,-50%);
            }
        }
    }

    &.tooltip-bottom {
        &:after {
            top: 100%;
            margin-top: 4px;
        }

        &:hover {
            &:after {
                margin-top: 8px;
            }
        }
    }

    &.tooltip-left {
        &:after {
            top: 50%;
            right: 100%;
            left: auto;
            margin-top: 0;
            margin-right: 4px;
            transform-origin: right center;
        }

        &:hover {
            &:after {
                margin-top: 0;
                margin-right: 8px;
                transform: scale(1) translate(0,-50%);
            }
        }
    }
}

[data-tooltip=''] {
    &:before, &:after {
        display: none !important;
    }
}
