//
// Buttons
// --------------------------------------------------


// Base styles
// --------------------------------------------------

.btn {
    display: inline-block;
    margin-bottom: 0; // For input.btn
    font-weight: $btn-font-weight;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
    border: 1px solid transparent;
    white-space: nowrap;
    @include button-size($padding-base-vertical, $padding-base-horizontal, $font-size-base, $line-height-base, $btn-border-radius-base);
    @include user-select(none);

    &,
    &:active,
    &.active {
        &:focus,
        &.focus {
            @include tab-focus;
        }
    }

    &:hover,
    &:focus,
    &.focus {
        color: $btn-default-color;
        text-decoration: none;
    }

    &:active,
    &.active {
        outline: 0;
        background-image: none;
        @include box-shadow(inset 0 3px 5px rgba(0,0,0,.125));
    }

    &.disabled,
    &[disabled],
    fieldset[disabled] & {
        cursor: $cursor-disabled;
        @include opacity(.65);
        @include box-shadow(none);
    }
    // [converter] extracted a& to a.btn
}

a.btn {
    &.disabled,
    fieldset[disabled] & {
        pointer-events: none; // Future-proof disabling of clicks on `<a>` elements
    }
}


// Alternate buttons
// --------------------------------------------------

.btn-default {
    @include button-variant($btn-default-color, $btn-default-bg, $btn-default-border);
}

.btn-primary {
    @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
}
// Success appears as green
.btn-success {
    @include button-variant($btn-success-color, $btn-success-bg, $btn-success-border);
}
// Info appears as blue-green
.btn-info {
    @include button-variant($btn-info-color, $btn-info-bg, $btn-info-border);
}
// Warning appears as orange
.btn-warning {
    @include button-variant($btn-warning-color, $btn-warning-bg, $btn-warning-border);
}
// Danger and error appear as red
.btn-danger {
    @include button-variant($btn-danger-color, $btn-danger-bg, $btn-danger-border);
}


// Link buttons
// -------------------------

// Make a button look and behave like a link
.btn-link {
    color: $link-color;
    font-weight: normal;
    border-radius: 0;

    &,
    &:active,
    &.active,
    &[disabled],
    fieldset[disabled] & {
        background-color: transparent;
        @include box-shadow(none);
    }

    &,
    &:hover,
    &:focus,
    &:active {
        border-color: transparent;
    }

    &:hover,
    &:focus {
        color: $link-hover-color;
        text-decoration: $link-hover-decoration;
        background-color: transparent;
    }

    &[disabled],
    fieldset[disabled] & {
        &:hover,
        &:focus {
            color: $btn-link-disabled-color;
            text-decoration: none;
        }
    }
}


// Button Sizes
// --------------------------------------------------

.btn-lg {
    // line-height: ensure even-numbered height of button next to large input
    @include button-size($padding-large-vertical, $padding-large-horizontal, $font-size-large, $line-height-large, $btn-border-radius-large);
}

.btn-sm {
    // line-height: ensure proper height of button next to small input
    @include button-size($padding-small-vertical, $padding-small-horizontal, $font-size-small, $line-height-small, $btn-border-radius-small);
}

.btn-xs {
    @include button-size($padding-xs-vertical, $padding-xs-horizontal, $font-size-small, $line-height-small, $btn-border-radius-small);
}


// Block button
// --------------------------------------------------

.btn-block {
    display: block;
    width: 100%;
}

// Vertically space out multiple block buttons
.btn-block + .btn-block {
    margin-top: 5px;
}

// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"] {
    &.btn-block {
        width: 100%;
    }
}



.button, button, input[type="submit"], input[type="reset"], input[type="button"] {
    /*Default*/
    /*Fab*/
    &.fab {
    }
    /*Bordered*/
    /*Flat*/
    /*Icon*/
}

a:not([class*=btn]) {
    background: linear-gradient(to top,rgba(40,225,189,.8) 50%,rgba(255,255,255,0) 50%);
    background-size: 100% 200%;
    background-position: 0 10%;
    background-repeat: no-repeat;
    text-decoration: none;
    color: inherit;
    transition: background-position .3s cubic-bezier(.64,.09,.08,1);
    will-change: background-position;
}

a:not([class*=btn]):active {
    color: inherit;
}

a:not([class*=btn]):hover {
    background-position: 0 100%;
}

a[class*=btn] {
    text-decoration: none;
}

[class*=btn] {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
    position: relative;
    cursor: pointer;
    text-transform: uppercase;
    margin-bottom: 10px;
    background-image: none;
    background-size: 0;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    transition: background-color .3s cubic-bezier(.64,.09,.08,1),box-shadow .3s cubic-bezier(.64,.09,.08,1);
    will-change: background-size,background-image;
    padding: 10px 20px;
    display: inline-block;
    font-family: Roboto;
    border: 0;
}

[class*=btn]:after {
    position: absolute;
    content: '';
    transition: none;
    background: radial-gradient(circle,#fff 95%,transparent 95%);
    background-size: .7%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

[class*=btn]:active {
    outline: 0;
    background-size: 1000%;
    transition: all 1s cubic-bezier(.64,.09,.08,1);
}

.btn--float {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-image: radial-gradient(circle,#ffeb3b 1%,#fff387 15%,transparent 30%);
    background-color: #ffeb3b;
    will-change: box-shadow,background-color;
    font-size: 22px;
    padding: 0;
}

.btn--float:hover {
    box-shadow: 0 5px 11px 0 rgba(0,0,0,.18),0 4px 15px 0 rgba(0,0,0,.15);
    background-color: #fe5;
}

.btn--raised, .modal-trigger, .modal-trigger:after {
    border-radius: 1.98px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
    background-image: radial-gradient(circle,#3498db 1%,#75b9e7 15%,transparent 30%);
    background-color: #3498db;
    will-change: box-shadow,background-color;
    color: #fff;
}

.btn--raised:hover, .modal-trigger:hover, .modal-trigger:hover:after {
    box-shadow: 0 5px 11px 0 rgba(0,0,0,.18),0 4px 15px 0 rgba(0,0,0,.15);
    background-color: #4aa3df;
}

.btn--flat {
    background-image: radial-gradient(circle,#28e1bd 1%,#6bebd1 15%,transparent 30%);
    background-color: #efefef;
    box-shadow: none;
}

.btn--primary {
    background-image: radial-gradient(circle,#1abc9c 1%,#3ee4c4 15%,transparent 30%);
    background-color: #1abc9c;
}

.btn--primary:hover {
    background-color: #1dd2af;
}

.btn--secondary {
    background-image: radial-gradient(circle,#28e1bd 1%,#6bebd1 15%,transparent 30%);
    background-color: #28e1bd;
}

.btn--secondary:hover {
    background-color: #3ee4c4;
}

.btn--accent {
    background-image: radial-gradient(circle,#ffeb3b 1%,#fff387 15%,transparent 30%);
    background-color: #ffeb3b;
}

.btn--accent:hover {
    background-color: #fe5;
}

.btn--red {
    background-image: radial-gradient(circle,#e74c3c 1%,#ef8b80 15%,transparent 30%);
    background-color: #e74c3c;
}

.btn--red:hover {
    background-color: #ea6153;
}

.btn--yellow {
    background-image: radial-gradient(circle,#f1c40f 1%,#f5d657 15%,transparent 30%);
    background-color: #f1c40f;
}

.btn--yellow:hover {
    background-color: #f2ca27;
}

.btn--green {
    background-image: radial-gradient(circle,#4caf50 1%,#80c883 15%,transparent 30%);
    background-color: #4caf50;
}

.btn--green:hover {
    background-color: #5cb860;
}

.btn--blue {
    background-image: radial-gradient(circle,#2196f3 1%,#6ab8f7 15%,transparent 30%);
    background-color: #2196f3;
}

.btn--blue:hover {
    background-color: #39a1f4;
}
