//
// Footer
// --------------------------------------------------


.footer {
display: block;
	width: 100%;
	background: $secondary;
	padding-top: $space-med;
	padding-bottom: $space-med;
    position: relative;
    border: 1px solid transparent;
    @include clearfix;

    .copy {
        background: rgba(0,0,0,0.2);
        border-top: 1px solid rgba(0,0,0,0.3);
        padding: 15px;
    }
}