//
// Utility classes
// --------------------------------------------------


// Floats
// -------------------------
.clearfix {
    @include clearfix;
}

.right {
    float: right !important;
}

.left {
    float: left !important;
}


// Toggling content
// -------------------------
.hide {
    display: none !important;
}

.show {
    display: block !important;
}

.invisible {
    visibility: hidden;
}

.text-hide {
    @include text-hide;
}


// Hide from screenreaders and browsers
.hidden {
    display: none !important;
}


// For Affix plugin
.affix {
    position: fixed;
}

// Display
.inline {
    display: inline;
}

.inline-block {
    display: inline-block;
}

.block {
    display: block;
}

// Margin and Padding
.p- {
    &0 {
        padding: 0;
    }

    &10 {
        padding: 10px;
    }
}

.m- {
    &0 {
        margin: 0;
    }

    &10 {
        margin: 10px;
    }

    &auto {
        margin: auto;
    }
}

// Center
.text-center {
    text-align: center;
}
